.navbar {
  border-bottom: 2px solid black;


font-family: pinecone-mvb-rough1,sans-serif;
font-weight: 400;
font-style: normal;

}
.navbar ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.navbar ul li {
  font-size: 2rem;
  color: black;
  /* border: 2px solid black;
  padding: 5px;
  border-radius: 15px; */
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  transition: 0.75s;
}

.navbar ul li a:hover, .navbar ul li a:focus {
  opacity: 0.80;
}

.buttons {
  display: flex;
  gap: 15px;  
}